$white:#fff;
$burgundy:#A40731;
$orange:#E8A412;
$blue:#1D749A;
$black:#1B1918;
$gray:#42403F;
$grayL:#E7E5E4;
$grayLight:#F9F9F9;
$green:#00834B;

$gradientOrange:(linear-gradient(60deg, #A40731 0%, #B0232C 43.23%, #E8A412 100%));
$gradientBlue:(linear-gradient(61deg, #A40731 0%, #830B3A 40.06%, #002359 100%));





